nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-title);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  width: 100%;

  .titel {
    font-family: cursive;
    font-size: 27px;
    color: var(--header-footer-title);
  }

}