button {
  background-color: var(--bg-button);
  color: var(--btn-text-color);
  border: 0px;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 13px;
  cursor: pointer;
  
  &:hover {
    background-color: #33a4fa;
    color: var(--btn-hover-color);
  }

  &:disabled {
    background-color: #cccccc;
    color: #969696;
    cursor: not-allowed;
  }
}