@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as *;

.container {
  @include element-size('height', v.$footer-height);
  background-color: var(--header-footer-bg);
  padding: 0px 20px;
  font-size: 14px;
  color: #8b8989;

  .toggle-btn {
    margin-right: 20px;
  }
}