<div>
  <h2>Release bearbeiten</h2>

  <div class="form-container justify-align-center">
    <form [formGroup]="form" (ngSubmit)="save()">
      <app-input
        [label]="'Release name'"
        [type]="'text'"
        [controlName]="'name'"
        [showError]="form.get('name')?.invalid && form.get('name')?.touched">
      </app-input>

      <app-input
        [label]="'Beschreibung'"
        [type]="'text'"
        [controlName]="'description'">
      </app-input>
      
      <div>
        <span class="save-btn">
          <app-button
            [buttonLabel]="'Speichern'"
            [isDisabled]="form.invalid">
          </app-button>
        </span>
        <span>
          <app-button
            [buttonLabel]="'Zurück zur Liste'"
            (callParentFunction)="cancel()">
          </app-button>
        </span>
      </div>
    </form>
  </div>

  <div class="issue-list-section">
    <h3>Zugeordnete Issues</h3>

    @if (releaseIssues().length === 0) {
      <div>Keine Issues diesem Release zugeordnet.</div>
    } @else {
      <div class="issue-list">
        @for (issue of releaseIssues(); track issue.id) {
          <div class="issue-card justify-align-between width100">
            <div class="issue-title">{{ issue.title }}</div>

            <div class="issue-select">
              <label for="issue_{{issue.id}}">Verschieben zu Release: </label>
              <select id="issue_{{issue.id}}" #selectElement (change)="moveIssueToRelease(issue.id, selectElement.value)">
                @for (r of allReleases(); track r.id) {
                  <option [value]="r.id" [selected]="r.id === releaseId()">
                    {{ r.name }}
                  </option>
                }
              </select>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
