.form-container {
  width: 100%;
  margin-bottom: 2rem;

  form {
    width: 50%;
    padding: 1rem;
    background-color: var(--bg-release-detail-form);
    border: 1px solid #ccc;
    border-radius: 6px;

    .save-btn {
      margin-right: 10px;
    }
  }
}

.issue-list-section {
  margin-top: 40px;

  .issue-list {
    display: flex;
    flex-direction: column;

    .issue-card {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: default;

      .issue-title {
        font-weight: bold;
      }

      .issue-select select {
        padding: 0.25rem 0.5rem;
      }

      &:hover {
        background-color: var(--bg-release-detail-hover);
      }
    }
  }
}
