<div class="release-detail-wrapper">
  <h2>Release bearbeiten</h2>

  <div class="form-container justify-align-center">
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
      <app-input
        [label]="'Release name'"
        [type]="'text'"
        [controlName]="'name'"
        [showError]="form.get('name')?.invalid && form.get('name')?.touched">
      </app-input>

      <app-input
        [label]="'Beschreibung'"
        [type]="'text'"
        [controlName]="'description'">
      </app-input>
      
      <div>
        <span class="save-btn">
          <app-button
            [buttonLabel]="'Speichern'"
            [isDisabled]="form.invalid">
          </app-button>
        </span>
        <span>
          <app-button
            [buttonLabel]="'Zurück zur Liste'"
            (callParentFunction)="cancel()">
          </app-button>
        </span>
      </div>
    </form>
  </div>

  <!-- <form [formGroup]="form" (ngSubmit)="save()" class="release-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <div class="form-error">Name ist erforderlich.</div>
      }
    </div>

    <div class="form-group">
      <label for="description">Beschreibung</label>
      <input id="description" type="text" formControlName="description" />
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="form.invalid">💾 Speichern</button>
      <button type="button" (click)="cancel()">🔙 Zurück zur Liste</button>
    </div>
  </form> -->

  <div class="issue-list-section">
    <h3>Zugeordnete Issues</h3>

    @if (releaseIssues().length === 0) {
      <div class="no-issues">Keine Issues diesem Release zugeordnet.</div>
    } @else {
      <div class="issue-list">
        @for (issue of releaseIssues(); track issue.id) {
          <div class="issue-card justify-align-between width100">
            <div class="issue-title">{{ issue.title }}</div>

            <div class="issue-select">
              <label for="issue_{{issue.id}}">Verschieben zu Release: </label>
              <select id="issue_{{issue.id}}" #selectElement (change)="moveIssueToRelease(issue.id, selectElement.value)">
                @for (r of allReleases(); track r.id) {
                  <option [value]="r.id" [selected]="r.id === releaseId()">
                    {{ r.name }}
                  </option>
                }
              </select>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
