<div>
  <h2>Releases</h2>

  <div class="form-container justify-align-center">
    <form [formGroup]="form" (ngSubmit)="create()">
      <app-input
        [type]="'text'"
        [controlName]="'name'"
        [placeholder]="'Name des Releases'"
        [showError]="form.get('name')?.invalid && form.get('name')?.touched">
      </app-input>

      <app-input
        [type]="'text'"
        [controlName]="'description'"
        [placeholder]="'Beschreibung (optional)'">
      </app-input>
      
      <app-button [buttonLabel]="'Release hinzufügen'" [isDisabled]="form.invalid"></app-button>
    </form>
  </div>

  <ul>
    @for (release of releases(); track release.id) {
    <li class="justify-align-between width100">
      <div class="content justify-align-center">
        <div class="name">{{ release.name }}</div>
        <div class="description">{{ release.description }}</div>
      </div>

      <div class="action-div justify-align-center">
        <a [routerLink]="['/releases/edit', release.id]" class="">
          &#9998;
        </a>

        <button (click)="deleteWithUndo(release)">
          &#10005;
        </button>
      </div>
    </li>
    }
  </ul>

</div>