@use '../../../../styles/mixins' as *;

.container {
  height: 100%;
}

.drop-zone {
  @include fix-to-page-height;
  padding: 10px;
  background-color: var(--bg-unassigned);
  border: 2px dashed #8fa8f8;
  border-radius: 6px;
}