@use '../../../../styles/variables.scss' as v;
@use '../../../../styles/mixins' as *;

.titel-container{
  @include element-size('height', v.$titel-height);
}

.story-map {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.unassigned-container {
  width: 25%;
}

.journeys-container {
  display: flex;
  gap: 16px;
  width: 75%;

  .journey-column {
    width: 33%;
    height: 100%;
  }
}

.export-btn {
  margin-right: 10px;
}