/* You can add global styles to this file, and also import other style files */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.issue-card {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.cdk-drag-dragging {
  cursor: grabbing !important;
}

.cdk-drag-preview {
  cursor: grabbing !important;
  pointer-events: none;
}
